* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #2a2a2a
}

a {
    color: #77c99c;
}

.nav{
    width: 100vw;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    padding: 5px 25px;
}
.main-content{
    width: 100vw;
    padding: 25px;
}
.origin-container{
    width: 300px;
    height: 105px;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.origin-container .description{
    font-size: large;
    font-weight: 800;
}
.origin-container .status .indicator-led{
    width: 20px;
    height: 20px;
    border-radius: 9999px;
    background-color: var(--color);
    box-shadow: var(--color) 0px 8px 24px;
}
.origin-container .status{
    font-size: large;
    gap: 5px;
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro';
}
.color-purple{
    --color: rgb(186, 30, 210);
}
.color-green{
    --color: rgb(30, 210, 40);
}
.color-orange{
    --color: rgb(250, 160, 15);
}
.color-red{
    --color: rgb(210, 51, 30);
}